body{
			margin: 0;
			padding: 0;
			text-align: center;
			font-family: sans-serif;
			background-image: linear-gradient(#000428, #004e92);
			min-height: 100vh;
		}
		div{
			width: 500px;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #fff;
			transform: translate(-50%, -50%);
			padding: 20px;
			border-radius: 10px;

		}
		h2{
			font-size: 30px;
			font-weight: 600;
		}
		.text{
			text-align: left;
			margin-left: 150px;
		}
.text2 {
    text-align: center;
    margin-left: 150px;
    position: relative;
    bottom: 5px;
    right: 75px;
    font-family: cursive;
		font-size: 16px;
}
		#weight, #height{
			color: #222f3e;
			text-align: left;
			font-size: 20px;
			font-weight: 200;
			outline: none;
			border: none;
			background: none;
			border-bottom: 1px solid #341f97;
			width: 200px;
		}
			#weight:focus, #height:focus{
				border-bottom: 2px solid #341f97;
				width: 300px;
				transition: 0.5s;
			}

/* Attributes to all text and div elements */
			#result{
				color: #341f97;
			}
      #result2{
        color: #FF0000;
      }
  /* What color the output comes out as and different colors for whether you are a boy or a girl*/
			#btn{
				font-family: inherit;
				margin-top: 10px;
				border: none;
				color: #fff;
				background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
				width: 150px;
				padding: 10px;
				border-radius: 30px;
				outline: none;
				cursor: pointer;
			}
			#btn:hover{
				box-shadow: 1px 1px 10px #341f97;
			}
/* Attributes for the submit button */
			#info{
				font-size: 12px;
				font-family: inherit;
        
			}
    .home{
        position: relative;
        bottom: 5px;
        left: 840px;
      }
/* The home button that brings you back to our home pages attributes */
#box1{
  margin-left: -600px;
width: 500px;
  margin-top: -10px;
  height: 350px;
  box-shadow: 1px 1px 20px red;
}
#box2{
  margin-left: 600px;
width: 500px;
  margin-top: -10px;
  height: 350px;
  box-shadow: 1px 1px 20px green;
}
/* The 2 boxes of information's color and other attributes */
    